apiVersion: v1
kind: Service
metadata:
  name: whoami-svc
  labels:
    app: whoami
spec:
  type: NodePort
  selector:
    app: whoami
  ports:
  - port: 80
    targetPort: 80
    nodePort: 30080
    protocol: TCP
    name: http
