apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
  namespace: app-updates
  annotations:
    kubernetes.io/change-cause: "Initial deployment with nginx 1.19"
spec:
  replicas: 4
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
        version: v1
    spec:
      containers:
      - name: nginx
        image: nginx:1.19-alpine
        ports:
        - containerPort: 80
